<div class="container bg-dark menu pt-3">
    <a [routerLink]="'/login'" class="text-decoration-none">
        <h3 class="text-white">Car fleet</h3>
    </a>
    <hr class="text-white">
    <h5 class="text-white">Empleados</h5>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="'/empleados'">
                > Gestionar
            </a>
        </li>
    </ul>
    <hr class="text-white">
    <h5 class="text-white">Carros</h5>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="'carros'">
                > Gestionar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" role="button" (click)="carrosEnUso()">
                > En uso
            </a>
        </li>
    </ul>
    <hr class="text-white">
    <h5 class="text-white">Viajes</h5>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="'viajes'">
                > Gestionar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="'viajes-realizados'">
                > Realizados
            </a>
        </li>
    </ul>
</div>
<app-carros-uso #carrosUso>
</app-carros-uso>
